;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [lambdaisland/uri "1.11.86"]
  [cider/cider-nrepl "0.24.0"]
  [clj-commons/secretary "1.2.4"]
  [funcool/bide "1.7.0"]]

 :builds
 {:app
  {:target           :browser
   :modules          {:main {:init-fn termishare.main/init}}
   :output-dir       "target/classes/public/termishare/"
   :closure-defines  {termishare.env/TERMISHARE_SERVER_URL #shadow/env ["TERMISHARE_SERVER_URL" :default "http://localhost:3000"]
                      termishare.env/TERMISHARE_DOMAIN #shadow/env ["TERMISHARE_DOMAIN" :default "http://localhost:8000"]}
   :build-hooks      [(shadow.html/copy-file
                        "public/index.html"
                        "target/classes/public/termishare/index.html")]
   :compiler-options {:infer-externs      :auto
                      :output-feature-set :es6}}}}
