;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [lambdaisland/uri "1.11.86"]
  [cider/cider-nrepl "0.24.0"]]

 :dev-http {8000 "public"}
 :builds
 {:app
  {:target           :browser
   :modules          {:main {:init-fn termishare.main/init}}
   :closure-defines  {termishare.env/API_URL #shadow/env ["SERVER_URL" :default "http://localhost:3000"]}
   :compiler-options {:infer-externs      :auto
                      :output-feature-set :es6}}}}
