# lein
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.cpcache


# shadow-js
node_modules/
public/js
public/css
/src/gen
.shadow-cljs/

